<div class='row'>
  <div class='col-md-5'>
    <div id="all-tasks">
      <%= render partial: "all_tasks", locals: {tasks: @tasks} %>
    </div>
  </div>
  <div class='col-md-5'>
    <div class='affix'>
      <div class="btn-group btn-group-justified">
      <%= button_to 'Motivate', do_it_widget_path, method: :get,class: 'btn btn-default pull-left', remote: true %>
      <%= button_to 'New Task', new_task_path, method: :get,class: 'btn btn-default pull-left', remote: true %>
      </div>
      <div id="single-task">
        <%= render partial: 'do_it_widget' %>
      </div>
    </div>
  </div>
</div>