<div class='row'>
  <div class='col-md-5'>
    <div id="all-tasks">
      <%= render partial: "all_tasks", locals: {tasks: @tasks} %>
    </div>
  </div>
  <div class='col-md-5'>
    <div class='affix'>
      <%= link_to 'Motivate', do_it_widget_path, remote: true %>
      <%= link_to 'New Task', new_task_path, remote: true %>
      <div id="single-task">
        <%= render partial: 'do_it_widget' %>
      </div>
    </div>
  </div>
</div>