// Place all the styles related to the Task controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$finished-task-text-color : green;
$task-bg-color: grey;
$unit: 10px;
$half-unit: $unit/2;

.tasks {
  padding: 5px;
}

.task-done {
  color: $finished-task-text-color;
}

.task-not-done {
  color: black;
}

.btn {
  margin-right: $half-unit;
}