// Place all the styles related to the Task controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$done-bg-color : green;


.tasks {
  padding: 5px;
}

.task-done {
  background-color: $done-bg-color;
  color: white;
}

.task-not-done {
  background-color: grey;
  color: white;
}