<h1>The deeds that need doing:</h1>
<% if !!tasks %>
<% tasks.each do |task| %>
<h3><%= task.title %></h3>
<%= link_to 'DO IT', single_task_path(id: task.id), remote: true %>
<% end %>
<% else %>
<h3>No Tasks Yet</h3>
<p>But that will change.</p>
<% end %>